#this file defines colors for syntax highligting in the code editor
#enter values in the form of: R(0-255),G(0-255),B(0-255)

#default color of unhighlighted text
default-color=180,180,180

#color of numbers
number-color=050,150,250

#color of strings
string-color=050,250,100

#color of found words
find-color=250,075,250

#color of comments
comment-color=100,100,100

#color of keyword (define, import, main etc.)
keyword-color=250,160,010

#color of types (int, float, char etc.)
type-color=250,150,200

#color of separators({},[],.,-,=,*,/ etc)
separator-color=250,200,010

#color of background
background-color=050,010,075

#color of background when exceptional character printed
exception-color=200,010,010

#color of text when exceptional character printed
nonprint-color=010,025,025

#
